{
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "add-module-exports",
    [
      "transform-imports",
      {
        "rebass": {
          "transform": "rebass/dist/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "lodash"
      ]
    }
  }
}
